@media (prefers-color-scheme: dark) {
	body, select, button[type="button"], input[type="text"], input[type="number"], input[type="file"]::file-selector-button {
		background-color: black;
		color: white;
	}
}

#help {
	float: right;
}

#logs {
	max-height: 100px;
	overflow-y: auto;
	.warning {
		color: orange;
	}
	.error {
		color: red;
	}
	.info {
		color: green;
	}
}

#main-canvas {
	background: black;
	max-width: 100%;
	max-height: 50vh;
	width: auto;
	height: auto;
	&.float-fullscreen {
		max-height: 100%;
	}
}

.readme {
	padding-left: 20px;
}

.float-fullscreen {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.force-scrollbar {
	height: 100vh;
	overflow: auto;
}

.force-scrollbar::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background-color: #fff;
}

.force-scrollbar::-webkit-scrollbar-thumb {
	background-color: #888;
}

#judgement-windows-custom-wrapper {
	/* set padding-bottom in js */
	position: relative;
	overflow-x: auto;
	table {
		position: absolute;
		input {
			width: 50px;
		}
	}
}

.pinned-coordinates-item {
	&.moving {
		color: red;
	}

	&.editing {
		color: orange;
	}
}
