#warnings {
	color: orange;
}

#errors {
	color: red;
}

#main-canvas {
	background: black;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.readme {
	padding-left: 20px;
}

.float-fullscreen {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.force-scrollbar {
	height: 100vh;
	overflow: auto;
}

.force-scrollbar::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background-color: #fff;
}

.force-scrollbar::-webkit-scrollbar-thumb {
	background-color: #888;
}
