<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="{{ site.theme_color }}">
		<meta name="description" content="{{ description | default: site.description }}">
		<title>{{ title }}</title>
		<link rel="canonical" href="{{ canonical }}">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="{{ site.title }}">
		<meta property="og:title" content="{{ title }}">
		<meta property="og:description" content="{{ description | default: site.description }}">
		<meta property="og:url" content="{{ canonical }}">
		<meta property="og:image" content="{{ site.url }}/{{ site.logo }}">
		<meta property="og:locale" content="{{ site.locale }}">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="{{ title }}">
		<meta name="twitter:image" content="{{ site.url }}/{{ site.logo }}">
		{% if math %}<link rel="stylesheet" href="katex/katex.min.css">{% endif %}
{% block head %}{% endblock %}
	</head>
	<body>
{% block content %}{{ content }}{% endblock %}
	</body>
</html>
